html {background:#fff2e6;}

p {
    color: #1a1a1a;
    background: #B5CCF6;
    font-style: italic;
    text-align: justify
}

ul {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    font-size: 24px;
    color: white;
    text-shadow: 5px 5px 5px #000000;
}