@keyframes colorfade{
    from {color:cadetblue;}
    to{color: aquamarine;}
}

html {
  background-color: darkgrey;
}

p   {
        text-align: center;
        font-family: fantasy;
        font-style: italic;
        font-size: 40px;
        animation-name: colorfade;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
